# Ignore artifacts
build/
docker/e2e/spp-*.jar

# Ignore downloaded skywalking agent
e2e/apache-skywalking-java-agent-*.tgz
e2e/skywalking-agent/

# Ignore download s++ probe
e2e/spp-probe-*.jar

# Ignore IDE files
.idea/

# Ignore .gradle directory
.gradle/
